<div class="row px-0 d-flex justify-content-center align-items-center">
  <div class="row">
    <h3 class="h3Style">Informações Pessoais</h3>
  </div>
  <div class="col-12">
    <form>
      <div class="my-4">
        <div class="form-group">
          <label for="nomeUsuario" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control inputStyle"
            id="nomeUsuario"
            name="nomeUsuario"
          />
        </div>
      </div>
      <div class="my-4">
        <div class="form-group">
          <label for="sobrenomeUsuario" class="form-label">Sobrenome</label>
          <input
            type="text"
            class="form-control inputStyle"
            id="sobrenomeUsuario"
            name="sobrenomeUsuario"
          />
        </div>
      </div>
      <div class="my-4">
        <div class="form-group">
          <label for="cpfUsuario" class="form-label">CPF</label>
          <input
            type="number"
            class="form-control inputStyle"
            id="cpfUsuario"
            name="cpfUsuario"
          />
        </div>
      </div>
      <div class="my-4">
        <div class="form-group">
          <label for="dataDeNascimento" class="form-label"
            >Data de Nascimento</label
          >
          <input
            type="date"
            class="form-control inputStyle"
            id="dataDeNascimento"
            name="dataDeNascimento"
          />
        </div>
      </div>
      <div class="my-4">
        <div class="form-group">
          <label for="telefoneUsuario" class="form-label">Telefone</label>
          <input
            type="number"
            class="form-control inputStyle"
            id="telefoneUsuario"
            name="telefoneUsuario"
          />
        </div>
      </div>
      <div class="my-4">
        <div class="form-group">
          <label for="emailUsuario" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control inputStyle"
            id="emailUsuario"
            name="emailUsuario"
            value="email@email.com"
            disabled
          />
        </div>
      </div>
      <div class="my-4">
        <div class="form-group">
          <label for="senhaUsuario" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control inputStyle"
            id="senhaUsuario"
            name="senhaUsuario"
          />
        </div>
      </div>
    </form>
  </div>
</div>
