<footer class="w-auto m-0">
  <div class="d-flex justify-content-between p-5">
    <div>
      <img src="../../../assets/icon/logoDaFazenda.svg" alt="Logo daFazenda." />
    </div>
    <div class="d-flex">
      <img
        src="../../../assets/icon/instagram-icon.svg"
        alt="instagram daFazenda."
        class="p-1"
      />
      <img
        src="../../../assets/icon/facebook-icon.svg"
        alt="facebook daFazenda."
        class="p-1"
      />
    </div>
  </div>
  <div class="border-top border-dark px-5 py-3 d-flex align-items-center">
    <i class="fa-regular fa-copyright px-1" aria-hidden="true"></i>
    <p class="pStyleDark mt-3">2022 &#9679; Todos os direitos reservados.</p>
  </div>
</footer>
