<div class="container-lg p-5">
  <div class="row align-items-center">
    <div class="col-8">
      <div class="row w-75">
        <p class="text-start text-break fs-2 fw-bolder">
          Nossos artesanais na sua casa
        </p>
        <p class="text-start text-break fs-6">
          Todos os produtos são produzimos em nossa fazenda de forma artesal e
          com mão de obra justa e familiar. Da nossa casa para sua mesa.
        </p>
      </div>
      <button type="button" class="btn btn-warning btn-lg border-0 text-light">
        Conheça
      </button>
    </div>
    <div class="col-4">
      <img class="mw-100" src="../../../assets/imgs/hero.jpg" alt="Hero" />
    </div>
  </div>
</div>
