<div class="container">
  <div class="row align-items-center justify-content-between mb-5">
    <div class="col-12 col-sm-6 col-md-5 order-last order-sm-first py-4 me-5">
      <div class="row">
        <h2 class="col-9 text-start text-break h2Style pb-4">
          Nossos artesanais na sua casa
        </h2>
        <div class="col-3 col-md-2"></div>
        <p class="text-start text-break pStyleLight fs-6 pb-0">
          Todos os produtos são produzidos em nossa fazenda de forma artesal e com mão de obra justa e familiar.          
        </p>
        <p class="text-start text-break pStyleLight fs-6 pt-0 pb-4">Da nossa casa para sua mesa.</p>
      </div>
      <button
        type="button"
        class="btn btn-lg buttonStyle"
        (click)="goToCategories()"
      >
        Produtos
      </button>
    </div>
    <div class="col-12 col-sm-4 col-md-6">
      <img class="img-fluid float-end px-0" src="../../../assets/img/hero3.jpg" alt="Hero" />
    </div>
  </div>
</div>
