<div class="container-md">
  <div class="row align-items-center">
    <div class="col-12 col-sm-6 col-md-5 order-last order-sm-first py-4">
      <div class="row">
        <h2 class="text-start text-break logo-style">
          Nossos artesanais na sua casa
        </h2>
        <p class="d-flex text-start text-break text-custom fs-6">
          Todos os produtos são produzimos em nossa fazenda de forma artesal e
          com mão de obra justa e familiar. Da nossa casa para sua mesa.
        </p>
      </div>
      <button type="button" class="btn btn-lg button-custom">Conheça</button>
    </div>
    <div class="col-1"></div>
    <div class="col-12 col-sm-4 col-md-6">
      <img class="img-fluid" src="../../../assets/img/hero.jpg" alt="Hero" />
    </div>
  </div>
</div>
