<!-- Componente -->
<div class="container px-0">
    <div class="row d-flex justify-content-between align-items-center mb-4">

        <!-- Cart item Img-->
        <div class="col-xs-2 col-md-2 col-lg-2 colxl-2">
            <img
                src="../../../assets/img/products/queijo/queijo4.jpg"
                alt=""
                class="img-fluid rounded-3"
                width="75"
                height="94"
            />
        </div>

        <!-- Cart item Details-->
        <div class="col-xs-3 col-md-3 col-lg-3 colxl-3">
            <p class="h5 pStyleDark mb-1">Queijo Parmesão</p>
            <p class="pStyleLight mb-1">R$ 48,00</p>

                    <!-- <h4>{{nome}}</h4>
                    <p>{{preco-unitario}}</p> -->
        </div>

        <!-- Cart item quantity-input-->
        <div class="col-xs-3 col-md-3 col-xl-3">
            <app-quantity-input></app-quantity-input>
        </div>

        <div class="col-xs-1 col-md-1 col-xl-1 align-items-end"> 
            <button class="btn " (click)="deletar()">
                <img src="../../../assets/icon/trash-icon.svg" alt="Ícone de lixeira" width="20px" height="20px">
            </button>
        </div>

        <!-- Cart item Subtotal -->
        <div class="col-xs-3 col-md-3 col-xl-3 text-end">
            <span>R$ 300,00<!-- <p>{{preco-total}}</p> --></span>
        </div>

    </div>
</div>

