<div class="container p-0 cartItemStyle bg-info">
  <div class="row justify-content-between align-items-center">
    <div class="col-xs-4 col-md-5 d-flex justify-content-between">
        <!-- <div class="row d-flex"> -->
            <img
                src="../../../assets/img/products/queijo/queijo4.jpg"
                alt=""
                class="cart-item-img"
                width="75"
                height="94"
            />

            <div class="cart-items-details">
                <h4 class="h4Style">Queijo Parmesão</h4>
                <p class="pStyleLight">R$ 48,00</p>

                <!-- <h4>{{nome}}</h4>
                                <p>{{preco-unitario}}</p> -->
            </div>
        <!-- </div> -->
    </div>

    <div class="col-xs-4 col-md-4 cart-item-quantity">
        <div class="row flex-nowrap align-items-center">
            <div class="col-8">
                <app-quantity-input></app-quantity-input>
            </div>
           
            <div class="col-4">
                <button class="btn" (click)="deletar()">
                    <img src="../../../assets/icon/trash-icon.svg" alt="Ícone de lixeira" width="24px" height="24px">
                </button>
                
            </div>
            
        </div>       
    </div>

    <div class="col-xs-4 col-md-3 cart-item-subtotal">
        <span>R$ 300,00<!-- <p>{{preco-total}}</p> --></span>
      
    </div>
  </div>
</div>
