<div class="container">
    <div class="row">
        <form action="">
            <div class="form-group">
                <div class="col-xs-6 mt-5 mb-0">
                    <h2>Criar conta</h2>
                </div>
                
                <div class="form-group col-xs-12">
                    <label for="nomeUsuario"></label>
                    <input type="text" class="form-control mb-0" id="nomeUsuario" name="nomeUsuario" placeholder="Nome" aria-placeholder="Nome" required>
                </div>
                <div class="form-group col-xs-12 mb-0">
                    <label for="sobrenomeUsuario"></label>
                    <input type="text" class="form-control" id="sobrenomeUsuario" name="sobrenomeUsuario" placeholder="Sobrenome" aria-placeholder="Sobrenome" required>
                </div>
                <div class="form-group col-xs-12 mb-0">
                    <label for="emailUsuario"></label>
                    <input type="email" class="form-control" id="emailUsuario" name="emailUsuario" placeholder="Email" aria-placeholder="Email" required>
                </div>
                <div class="form-group col-xs-12 mb-0">
                    <label for="senhaUsuario"></label>
                    <input type="password" class="form-control" id="senhaUsuario" name="senhaUsuario" placeholder="Senha" aria-placeholder="Senha" required>
                </div>
                <div class="form-group col-xs-12 mb-0">
                    <label for="senhaUsuario"></label>
                    <input type="password" class="form-control" id="senhaUsuario" name="senhaUsuario" placeholder="Confirmação da senha" aria-placeholder="Confirmação da senha" required>
                </div>
    
                <div class="container form-group mb-5">
                    <div class="btn buttonStyle">
                        <button type="submit">Fazer login</button>
                    </div>
    
                    <div class="link">
                        <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                    </div>
    
                </div>
                
    
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control"  rows="3"></textarea>
                  </div>
    
            </div>
        </form>       
    </div>
</div>
