<div class="container-xl">
  <div class="row px-0 d-flex justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 col-xl-4">
      <form [formGroup]="userForm" #formDir="ngForm">
        <div class="mt-5">
          <h2 class="h2Style">Criar conta</h2>
        </div>

        <div class="form-group">
          <label for="nomeUsuario" class="pStyleDark mt-4">Nome</label>
          <input
            formControlName="nomeUsuario"
            type="text"
            class="form-control inputStyle"
            id="nomeUsuario"
            name="nomeUsuario"
            placeholder="Nome"
            aria-placeholder="Nome"
            aria-hidden="true"
          />
          <div *ngIf="nomeUsuario.invalid && formDir.submitted" class="validationErrorStyle">
            <p
              *ngIf="nomeUsuario.errors?.['required']">
              O Nome precisa ser preenchido
            </p>
          </div>
        </div>

        <div class="form-group mb-0">
          <label for="sobrenomeUsuario" class="pStyleDark mt-3"
            >Sobrenome</label
          >
          <input
            formControlName="sobrenomeUsuario"
            type="text"
            class="form-control inputStyle"
            id="sobrenomeUsuario"
            name="sobrenomeUsuario"
            placeholder="Sobrenome"
            aria-placeholder="Sobrenome"
            aria-hidden="true"
          />
          <div *ngIf="sobrenomeUsuario.invalid && formDir.submitted" class="validationErrorStyle">
            <p
              *ngIf="sobrenomeUsuario.errors?.['required']">
              O Sobrenome precisa ser preenchido
            </p>
          </div>
        </div>

        <div class="form-group mb-0">
          <label for="emailUsuario" class="pStyleDark mt-3">Email</label>
          <input
            formControlName="emailUsuario"
            type="email"
            class="form-control inputStyle"
            id="emailUsuario"
            name="emailUsuario"
            placeholder="Email"
            aria-placeholder="Email"
            aria-hidden="true"
          />
          <div *ngIf="emailUsuario.invalid && formDir.submitted" class="validationErrorStyle">
            <p
              *ngIf="emailUsuario.errors?.['required']">
              O email precisa ser preenchido
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="senhaUsuario" class="pStyleDark mt-3">Senha</label>
          <input
            formControlName="senhaUsuario"
            (focus)="showPasswordRequirement()"
            type="password"
            class="form-control inputStyle"
            id="senhaUsuario"
            name="senhaUsuario"
            placeholder="Senha"
            aria-placeholder="Senha"
            aria-hidden="true"
          />
          <div *ngIf="senhaUsuario.invalid && formDir.submitted" class="validationErrorStyle">
            <p
              *ngIf="senhaUsuario.errors?.['required']">
              A senha precisa ser preenchida
            </p>
          </div>
        </div>

        <div *ngIf="!activePassword" class="form-group mb-0 mt-3">
          <app-signin-password-rules></app-signin-password-rules>
        </div>

        <div class="form-group mb-0 mt-0">
          <label for="confirmarFormSenha" class="pStyleDark mt-3">Confirmar Senha</label>
          <input
            formControlName="confirmarFormSenha"
            (input)="confirmarSenha($event)"
            type="password"
            class="form-control inputStyle"
            id="confirmarFormSenha"
            name="confirmarFormSenha"
            placeholder="Confirmar senha"
            aria-placeholder="Confirmação da senha"
            aria-hidden="true"
          />
          <div *ngIf="confirmarFormSenha.invalid && formDir.submitted" class="validationErrorStyle">
            <p
              *ngIf="confirmarFormSenha.errors?.['required']">
              A senha de confirmação precisa ser preenchida
            </p>
          </div>
        </div>

        <div class="form-check d-flex justify-content-start mt-4">
          <input
            class="form-check-input me-2 checkboxStyle"
            type="checkbox"
            [value]="userRegister.compartilharDadosUsuario"
            id="subscribeCheckbox"
            checked
          />
          <label class="form-check-label pStyleDark" for="subscribeCheckbox">
            Gostaria de receber a newsletter daFazenda por email
          </label>
        </div>

        <div
          class="container my-5 px-0 d-flex justify-content-between align-items-center"
        >
          <button
            (click)="onSubmit()"
            class="btn buttonStyle align-items-end"
            type="submit"
            [disabled]="loading"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"
              role="status"
              aria-hidden="true"
            ></span>
            Criar conta
          </button>

          <a class="linkStyle" [routerLink]="['/entrar']">Já tenho uma conta</a>
        </div>
      </form>
    </div>
  </div>
</div>
