<div class="container-h100">
  <h2 class="h2Style">Finalizar Compra</h2>
  <p class="title-checkout">Revise seu Pedido</p>
  <div class="row d-inline-flex" *ngFor="let item of itensComprados">
    <div class="col-9">
      <div class="row p-0 mx-2 border rounded">
        <div class="col-10">
          <p class="products-name">{{ item.nome }}</p>
          <p class="products-qty">Quantidade:01</p>
          <p class="products-price">Valor:{{ item.preco }}</p>
        </div>
        <div class="col-1 grid p-0">
          <img src="{{ item.foto }}" class="imgmaxsize" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="process-checkout">
    <div class="list shipping">
      <p class="title-checkout">Opções de Entrega</p>
      <div class="row d-inline-flex">
        <div
          class="row p-2 mx-2 border rounded"
          *ngFor="let envio of formaDeEnvio | keyvalue"
        >
          <div class="col-10">
            <input type="radio" name="ENVIO" [value]="envio.value" />
            <label for="ENVIO">{{ envio.value }}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="list payment">
          <p class="title-checkout">Escolha a Forma de Pagamento</p>
          <div class="row d-inline-flex">
            <div
              class="row p-2 mx-2 border rounded"
              *ngFor="let pagamento of formaDePagamento | keyvalue"
            >
              <label for="PAGAMENTO">{{ pagamento.value }}</label>
            </div>
          </div>
          -->
        </div>
        <div class="row">
          <div class="row d-inline-flex">
            <button class="btn buttonStyle">Finalizar Pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
