<div class="container">
  <div *ngIf="!isFinished(); else finishedOrder">
    <h2 class="h2Style mb-5">Finalizar Compra</h2>

    <section *ngIf="isInfoMissing()">
      <p class="h2Style mt-1">
        Seu perfil necessita ser preenchido para finalizar esta compra!
      </p>
      <p class="pStyleDark mt-3">Por favor, preencha:</p>
      <ul class="ps-3">
        <li *ngIf="missingPersonalInfo">- Seus dados pessoais</li>
        <li *ngIf="missingAddress">- Seu endereço</li>
      </ul>

      <div class="d-flex align-items-center">
        <a routerLink="/perfil/dados"
          ><p class="title-checkout h3Style mt-2">
            Ir para Meu Perfil
            <img src="../../../assets/icon/arrow-icon.svg" /></p
        ></a>
      </div>
    </section>

    <section>
      <h3 class="title-checkout h3Style mx-0 px-0">Revise seu Pedido</h3>
      <div class="row d-inline-flex my-4" *ngFor="let item of itensComprados">
        <div class="col-12 col-sm-9 mx-0">
          <div class="p-md-0 m-md-0 border rounded">
            <div class="row p-md-0 ms-1 me-2">
              <div class="col-10 mt-2">
                <p class="h3Style">{{ item.produto?.nomeProduto }}</p>
                <p class="pStyleDark">
                  Quantidade: {{ item.quantidadeProduto }}
                </p>
                <p class="pStyleDark">
                  Valor: {{ item.subtotal | currency: "BRL" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title-checkout h3Style me-0 px-0">Opções de Entrega</h3>
      <div
        class="row my-4 ms-1"
        *ngIf="!missingAddress; else missingAddressInfo"
      >
        <div class="col-12 col-sm-12 col-md-4 mb-3 mb-md-0">
          <h6 class="h3Style ps-0">Endereço</h6>
          <p class="pStyleDark endereco">
            CEP:
            <span class="pStyleLight">{{ usuario?.cepEndereco }}</span>
          </p>
          <p class="pStyleDark endereco">
            Logradouro:
            <span class="pStyleLight">{{ usuario?.logradouroEndereco }}</span>
          </p>
          <div class="row p-0">
            <div class="col-3">
              <p class="pStyleDark endereco">
                Nº
                <span class="pStyleLight">{{ usuario?.numeroEndereco }}</span>
              </p>
            </div>
            <div class="col-8">
              <p class="pStyleDark endereco">
                Complemento:
                <span class="pStyleLight">{{
                  usuario?.complementoEndereco
                }}</span>
              </p>
            </div>
          </div>

          <p class="pStyleDark endereco">
            Bairro:
            <span class="pStyleLight">{{ usuario?.bairroEndereco }}</span>
          </p>
          <div class="row p-0">
            <div class="col-6">
              <p class="pStyleDark endereco">
                Cidade:
                <span class="pStyleLight">{{ usuario?.cidadeEndereco }}</span>
              </p>
            </div>
            <div class="col-6">
              <p class="pStyleDark endereco">
                Estado:
                <span class="pStyleLight">{{ usuario?.estadoEndereco }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 m-0 col-md-4">
          <p class="pStyleDark">Forma de Envio: Transportadora Própria</p>
          <p class="pStyleDark">Frete Grátis</p>
        </div>
      </div>

      <ng-template #missingAddressInfo>
        <p class="title-checkout h3Style">Seu endereço está incompleto!</p>
        <p class="title-checkout pStyleDark">
          Por favor, preencha em seu perfil.
        </p>
      </ng-template>
    </section>
    <section id="formaDePagamento">
      <h3 class="title-checkout h3Style me-0 px-0">
        Escolha a Forma de Pagamento
      </h3>
      <div class="row my-4 me-0 pe-0">
        <div class="col-12 col-md-4 ms-3 me-0 pe-0">
          <select
            class="form-control inputStyle"
            (change)="choosePayment($event)"
          >
            <option class="pStyleDark" value="" disabled selected>
              Opção de Pagamento
            </option>
            <option
              class="pStyleDark"
              [value]="pagamento.value"
              *ngFor="let pagamento of formaDePagamento | keyvalue"
            >
              {{ pagamento.value }}
            </option>
          </select>
          <div *ngIf="isCreditCard()" class="mt-4">
            <label class="form-label mt-2" for="numeroCartao"
              >Número do Cartão</label
            >
            <input
              class="form-control inputStyle"
              type="text"
              id="numeroCartao"
              name="numeroCartao"
            />
            <div class="row">
              <div class="col-6">
                <label class="form-label mt-2" for="dataDeValidade"
                  >Data de Validade</label
                >
                <input
                  class="form-control inputStyle smallInput-6 px-3"
                  type="text"
                  id="dataDeValidade"
                  name="dataDeValidade"
                />
              </div>
              <div class="col-6">
                <label class="form-label mt-2" for="cvv">CVV</label>
                <input
                  class="form-control inputStyle smallInput-6"
                  type="text"
                  id="cvv"
                  name="cvv"
                />
              </div>
            </div>

            <label class="form-label mt-2" for="nomeCartao"
              >Nome no cartão</label
            >
            <input
              class="form-control inputStyle"
              type="text"
              id="nomeCartao"
              name="nomeCartao"
            />
            <label class="form-label mt-2" for="cpf">CPF do Titular</label>
            <input
              class="form-control inputStyle"
              type="text"
              id="cpf"
              name="cpf"
            />
          </div>
        </div>
      </div>
    </section>
    <div class="row mt-3 mb-5">
      <div class="col-12 grid">
        <button
          class="btn buttonStyle"
          (click)="finishOrder()"
          [disabled]="loading"
          *ngIf="!isInfoMissing()"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
            role="status"
            aria-hidden="true"
          ></span>
          Finalizar Pedido
        </button>
        <button class="btn buttonStyle" disabled *ngIf="isInfoMissing()">
          Finalizar Pedido
        </button>
      </div>
    </div>
  </div>
  <ng-template #finishedOrder>
    <div class="row justify-content-between align-items-start">
      <div class="col-4">
        <h2 class="title-checkout h2Style">
          Pedido número #{{ pedido.idPedido }} realizado!
        </h2>
      </div>
      <div class="col-5">
        <a [routerLink]="['/perfil', 'pedidos']"
          ><p class="title-checkout h3Style">
            Ir para Meus Pedidos
            <img src="../../../assets/icon/arrow-icon.svg" /></p
        ></a>
      </div>
    </div>
    <h3 class="title-checkout h3Style">Obrigado por comprar conosco! :)</h3>

    <div *ngIf="isPix()">
      <h3 class="title-checkout h3Style">
        Aqui está o QR para pagamento via Pix
      </h3>
      <img
        src="../../../assets/img/qrcode.png"
        alt="QR Code do Pix"
        class="img-thumb"
      />
    </div>
  </ng-template>
</div>
