img.imgmaxsize {
  margin-right: 10px;
  max-height: 8rem;
  justify-self: end;
}

.title-checkout {
  text-align: center;
  font-weight: bold 400;
  font-size: 18px;
  display: block;
  margin: 15px auto;
  color: var(--text-color-light);
}

.grid {
  display: grid;
}

.buttonStyle {
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 2rem;
  min-width: 140px;
}

p.endereco {
  /* padding: 0 0.5rem; */
  margin: 0;
}
