<div class="p-5">
  <h2 class="title-custom">
    Combos
    <img src="../../../assets/icon/arrow-icon.svg" alt="Arrow Icon" />
  </h2>
  <div class="d-flex justify-content-between mt-5 h-50">
    <div>
      <div class="card card-custom">
        <img
          src="../../../assets/img/products/queijo/queijo1.jpg"
          class="card-img-top img-fluid"
          alt="..."
        />
        <div class="card-body ps-0">
          <h5 class="card-title title-custom">Queijo Teste 1</h5>
          <p class="card-text text-custom">
            Produto de teste. Ele é muito bom e bonito.
          </p>
          <h5 class="card-title">R$ 300,00</h5>
        </div>
      </div>
    </div>
  </div>
</div>
