<div class="row d-flex justify-content-between">
  <div class="col-6 col-sm-4 col-md-4 col-lg-4" *ngFor="let queijo of queijos">
    <div class="mt-5 h-50 px-3">
      <div class="card cardStyle">
        <img src="{{ queijo.foto }}" class="card-img-top img-fluid" alt="..." />
        <div class="card-body ps-0">
          <h3 class="card-title">{{ queijo.nome }}</h3>

          <p class="card-text pStyleLight">{{ queijo.descricao }}</p>

          <h5 class="card-title">{{ queijo.preco }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
