<div class="container px-0">
    <section id="cadastrarCategoria" class="mb-5">
      <h3 class="h3Style">Criar Categoria</h3>
  <!-- CREATE -->
      <div class="col-xs-12 col-sm-11 col-lg-9 col-xl-8">
        <form #cadastrar (ngSubmit)="onSubmit()">
          <div class="my-4">
            <div class="form-group formWidth">
              <label for="nomeCategoria" class="form-label">Nome</label>
              <input
                [(ngModel)]="categoria.nomeCategoria"
                type="text"
                class="form-control inputStyle"
                id="nomeCategoria"
                name="nomeProduto"
                placeholder="Nome da Categoria"
                required
              />
            </div>
          </div>
  
          <div class="my-4">
            <div class="form-group formWidth">
              <label for="descricaoProduto" class="form-label">Descrição</label>
              <textarea
                [(ngModel)]="categoria.descricaoCategoria"
                style="height: 160px"
                maxlength="255"
                type="text"
                class="form-control inputStyle"
                id="descricaoCategoria"
                name="descricao da Categoria"
                placeholder="Descrição da Categoria"
                required
              ></textarea>
            </div>
          </div>
  
          <div class="row d-flex justify-content-between align-items-center pt-2">
            <div class="col-xs-12 col-sm-7 mb-4 mb-sm-0">
              <button
                (click)="refresh()"
                class="btn buttonStyle"
                type="submit"
              >
                Cadastrar
              </button>
            </div>
            <div class="col-xs-12 col-sm-5 mb-2 mb-sm-0">
              <button class="btn pStyleDark" type="reset" (click)="clearFormCadastrar()">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  
  <!-- READ -->
  
    <section id="consultarCategoria">
      <h3 class="h3Style">Consultar</h3>
      <div class="table-responsive">
      <table class="table table-hover ;" style="color: #9b6c51;">
        <thead>
          <tr>
            <th colspan="2" class="h3Style" scope="col">Id</th>
            <th colspan="2" class="h3Style" scope="col">Nome</th>
            <th colspan="2" class="h3Style" scope="col">Descrição</th>
            <th colspan="2" class="h3Style" scope="col">Gerenciar</th>
          </tr>
        </thead>
        <tbody *ngFor="let categoria of categoriaLista">
          <tr>
            <td colspan="2" class="pStyleDark" scope="row">{{categoria.idCategoria}}</td>
            <td colspan="2" rowspan="2" class="pStyleDark" scope="row">{{categoria.nomeCategoria}}</td>
            <td colspan="2" rowspan="5" class="pStyleDark" scope="row">{{categoria.descricaoCategoria}}</td>
            
            <td colspan="2" rowspan="2" class="pStyleDark" scope="row">
              <a routerLink="./atualizar/{{categoria.idCategoria}}" class="mx-1" href="">
                <img src="../../../assets/icon/edit-icon.svg" alt="ícone Atualizar">
              </a>
              <a (click)="pegarId(categoria.idCategoria)" class="mx-2" href="" data-bs-toggle="modal" data-bs-target="#deletarCategoria">
                <img src="../../../assets/icon/trash-icon.svg" alt="ícone Deletar">
              </a>
              <div class="modal fade" id="deletarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Deletar Categoria</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Tem certeza que deseja deletar esta categoria?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="reset" class="btn pStyleDark " data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn buttonStyle deleteButton" 
                      (click)="delete()">Deletar</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </section>
  </div>
