<div class="container-xl">
    <a routerLink="./">
        <h2 class="h2Style">Categorias de Produtos</h2>
    </a>

    <div class="row d-flex mt-5">

        <div class="col-sx-12 col-sm-12 col-md-3 order-sm-first py-2">

            <div class="sidebar">
                <app-category-sidebar></app-category-sidebar>
            </div>
        </div>

        <div class="col-sx-12 col-md-9">
            <section>
                <app-category-crud></app-category-crud>
                <!-- <router-outlet></router-outlet> -->
            </section>
        </div>

    </div>
</div>
