:root {
  font-family: "Source Sans Pro", sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secundary-color {
  background-color: #ece8ea;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  background-color: #050505;
}

.secundary-color {
  background-color: #7a7a7a;
}

/*Navbar*/
#navbar {
}

#navbar a:hover {
  color: #7a7a7a;
}

.navbar a:active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand h1 span {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 3rem;
}

.navbar-brand img {
  width: 40px;

}
