<div class="container">
  <div class="row align-items-center justify-content-between" id="sobre">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 order-last order-sm-first py-4 me-5">
      <div class="row">
        <h2 class="col-9 text-start text-break h2Style pb-4">Nossa história</h2>
        <div class="col-3 col-md-2"></div>
        <p
          class="d-flex text-start text-break style=text-align-center pStyleLight fs-6"
        >
          Somos uma fazenda que se encanta com o trabalho da natureza e pensando
          na responsabilidade com o meio, na preservação dos nutrientes e na
          qualidade de entrega, selecionamos nossos ingredientes de maior
          qualidade, pois nosso compromisso com o público é promover produtos
          que faça cada momento seu, ser único e especial.
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-6 mt-5">
      <img class="img-fluid float-end px-0" src="../../../assets/img/sobre.png" alt="Sobre" />
    </div>
  </div>
</div>
