<!-- Link trigger modal -->
<a data-bs-toggle="modal" data-bs-target="#modalSearch">
  <img src="../../../assets/icon/search-icon.svg" alt="Ícone de lupa" />
</a>
<!-- Modal de pesquisa -->
<div
  class="modal fade"
  id="modalSearch"
  tabindex="-1"
  aria-labelledby="modalSearchLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            [(ngModel)]="searchTerm"
            (input)="search($event)"
            type="text"
            class="form-control"
            placeholder="Encontre o que deseja"
            aria-label="search"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            id="button-addon2"
            data-bs-dismiss="modal"
            (click)="goToSearch()"
          >
            <img
              src="../../../assets/icon/search-icon.svg"
              alt="Ícone de pesquisar"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
