<!-- Link trigger modal -->
<a data-bs-toggle="modal" data-bs-target="#modalSearch">
  <img src="../../../assets/icon/search-icon.svg" alt="Ícone de lupa">
</a>
<!-- Modal de pesquisa -->
<div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="modalSearchLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Encontre o que deseja" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <img src="../../../assets/icon/search-icon.svg" alt="Ícone de persquisar">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>