<div class="container px-0">
  <!-- CREATE -->
  <section id="cadastrar">
    <h3 class="h3Style">Criar Produto</h3>

    <div class="col-xs-12 col-sm-11 col-lg-9 col-xl-8">
      <form
        #cadastrar
        [formGroup]="productForm"
        (ngSubmit)="onSubmit()"
        #formDir="ngForm"
      >
        <div class="my-4">
          <div class="form-group formWidth">
            <label for="nomeProduto" class="form-label">Nome</label>
            <input
              formControlName="nomeProduto"
              type="text"
              class="form-control inputStyle"
              id="nomeProduto"
              name="nomeProduto"
              placeholder="Nome"
              required
            />
            <div
              *ngIf="nomeProduto.invalid && formDir.submitted"
              class="validationErrorStyle"
            >
              <p>O nome do produto é obrigatório.</p>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group formWidth">
            <label for="descricaoProduto" class="form-label">Descrição</label>
            <textarea
              formControlName="descricaoProduto"
              style="height: 160px"
              maxlength="255"
              type="text"
              class="form-control inputStyle"
              id="descricaoProduto"
              name="descricaoProduto"
              placeholder="Descrição"
              required
            ></textarea>
            <div
              *ngIf="descricaoProduto.invalid && formDir.submitted"
              class="validationErrorStyle"
            >
              <p>O campo descrição do produto é obrigatório.</p>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group formWidth">
            <label for="precoUnitarioProduto" class="form-label"
              >Preço unitário</label
            >
            <input
              formControlName="precoUnitarioProduto"
              type="number"
              class="form-control inputStyle smallInput-12"
              id="precoUnitarioProduto"
              name="precoUnitarioProduto"
              placeholder="R$0.00"
              required
            />
            <div
              *ngIf="precoUnitarioProduto.invalid && formDir.submitted"
              class="validationErrorStyle"
            >
              <p>O campo preço unitário do produto é obrigatório.</p>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label for="estoqueProduto" class="form-label"
              >Quantidade de estoque</label
            >
            <input
              formControlName="estoqueProduto"
              type="text"
              class="form-control inputStyle smallInput-12"
              id="estoqueProduto"
              name="estoqueProduto"
              placeholder="0"
              required
            />
            <div
              *ngIf="estoqueProduto.invalid && formDir.submitted"
              class="validationErrorStyle"
            >
              <p>O campo estoque do produto é obrigatório.</p>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label for="fotoProduto" class="form-label">Link da foto</label>
            <input
              formControlName="fotoProduto"
              class="form-control inputStyle smallInput-12"
              type="text"
              id="fotoProduto"
              name="fotoProduto"
              placeholder="http://..."
              required
            />
            <div
              *ngIf="fotoProduto.invalid && formDir.submitted"
              class="validationErrorStyle"
            >
              <p>A url do produto é obrigatória.</p>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label for="categoriaProduto" class="form-label">Categoria </label>

            <select
              formControlName="produto.categoria"
              (ngModelChange)="setCategory($event)"
              name="categoriaProduto"
              id="categoriaProduto"
              class="form-control inputStyle"
            >
              <option value="0" active disabled>Selecione</option>
              <option
                *ngFor="let categoria of categorias"
                formControlName="categoria"
              >
                {{ categoria.nomeCategoria }}
              </option>
            </select>
            <div
              *ngIf="categoria.invalid && formDir.submitted"
              class="validationErrorStyle"
            >
              <p>A categoria do produto é obrigatória.</p>
            </div>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label class="form-radio-label ps-2" for="produtoDisponivel"
              >Produto disponível?</label
            >
            <br />
            <input
              formControlName="produto.produtoDisponivel"
              type="radio"
              name="produtoDisponivel"
              id="produtoDisponivel"
              class="form-check-input"
              [value]="true"
            />
            Sim
            <br />
            <input
              formControlName="produto.produtoDisponivel"
              type="radio"
              name="produtoDisponivel"
              id="produtoDisponivel"
              class="form-check-input"
              [value]="false"
            />
            Não
          </div>
        </div>

        <div class="row d-flex justify-content-between align-items-center pt-2">
          <div class="col-xs-12 col-sm-7 mb-4 mb-sm-0">
            <button class="btn buttonStyle" type="submit" [disabled]="loading">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm me-1"
                role="status"
                aria-hidden="true"
              ></span
              >Criar
            </button>
          </div>
          <div class="col-xs-12 col-sm-5 mb-2 mb-sm-0">
            <button
              class="btn pStyleDark"
              type="reset"
              (click)="clearFormCadastrar()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
