<div class="container-fluid">
  <div class="row px-0 d-flex justify-content-center align-items-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-10 col-xs-12">
      <form>
        <div class="mt-5">
          <h3 class="h3Style">Cadastro de produto</h3>
        </div>

        <div class="form-group">
          <label for="nomeProduto"></label>
          <input
            class="form-control"
            type="text"
            name="nome"
            id="nomeProduto"
            placeholder="Nome"
          />
        </div>

        <div class="form-group">
          <label for="descricaoProduto"></label>
          <textarea
            style="height: 160px"
            maxlength="255"
            class="form-control"
            name="descricao"
            id="descricao"
            placeholder="Descrição"
          ></textarea
          ><br />
        </div>

        <div class="form-group">
          <label for="precoUnitarioProduto"></label>
          <input
            [ngModel]="preco | currency: 'BRL'"
            (ngModelChange)="preco = $event"
            class="form-control"
            min="0"
            type="text"
            name="preco"
            id="precoUnitarioProduto"
            placeholder="Preço unitário"
          />
        </div>

        <div class="form-group">
          <label for="estoqueProduto"></label>
          <input
            class="form-control"
            min="0"
            type="number"
            name="estoque"
            id="estoqueProduto"
            placeholder="Quantidade de estoque"
          />
        </div>

        <div class="form-group">
          <label for="categoria"></label>
          <select class="form-control" name="categoria" id="categoria">
            <option selected disabled>Selecione a catagoria</option>
            <option value="queijos">Queijos</option>
            <option value="vinhos">Vinhos</option>
            <option value="geleias">Geléias</option>
          </select>
        </div>

        <div
          class="container my-5 px-0 d-flex justify-content-between align-items-end"
        >
          <button class="btn buttonStyle align-items-end" type="submit">
            Cadastrar
          </button>
          <button class="btn pStyleDark" type="reset">Limpar dados</button>
        </div>
      </form>
    </div>
  </div>
</div>
