<section id="tabs">
  <ul class="nav justifyContentMobile flex-md-column">
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        routerLink="./"
        fragment="cadastrar"
      >
        <span class="link-active py-1 px-2"> Cadastrar </span>
      </a>
    </li>
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        routerLink="./"
        fragment="consultar"
      >
        <span class="link-active py-1 px-2">Consultar</span>
      </a>
    </li>
  </ul>
</section>
