<div class="container">
  <div class="row justify-content-between">
    <div class="col-12 col-md-6">
      <div class="row justify-content-center align-items-center mb-3 mb-md-0">
        <a class="imgModal" data-bs-toggle="modal" data-bs-target="#imageModal">
          <figure class="figure">
            <img class="imgCard" src="{{ produto.fotoProduto }}" alt="Queijo" />
            <figcaption class="figure-caption text-center">
              Clique para ampliar
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="detailsSection">
        <p class="prodID pStyleLight">cód: {{ produto.idProduto }}</p>
        <h3 class="h2Style">{{ produto.nomeProduto }}</h3>
        <p class="pStyleDark ps-1">
          {{ produto.precoUnitarioProduto | currency: "BRL" }}
        </p>

        <div *ngIf="produto.produtoDisponivel; else notAvaliable">
          <p class="pStyleDark mt-2 mb-1">Quantidade</p>
          <app-quantity-input></app-quantity-input>

          <div
            class="buttonDiv row d-flex flex-column justify-content-between align-items-start"
          >
            <button (click)="addToCart()"
            class="btn buttonStyle toCart my-2">
              Adicionar ao Carrinho
            </button>
            <button (click)="addToCartAndGo()"
            class="btn buttonStyle mt-2"> Comprar </button>
          </div>
        </div>

        <ng-template #notAvaliable>
          <p class="h3Style mt-2 mb-1">Produto não disponível!</p>

          <div
            class="row d-flex flex-column buttonDiv justify-content-between align-items-start"
          >
            <button class="btn buttonStyle toCart my-2" disabled>
              Adicionar ao Carrinho
            </button>

            <button 
            class="btn buttonStyle mt-2" disabled>Comprar</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row justify-content-around margin">
    <div class="col-12 col-md-6 col-lg-5 px-1 px-md-2">
      <p class="pStyleDark paragraph text-start">{{produto.descricaoProduto}}</p>
    </div>
    <div class="col-12 col-md-6"></div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="imageModal"
  tabindex="-1"
  aria-labelledby="imageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" data-bs-dismiss="modal">
    <div class="modal-content" data-bs-dismiss="modal">
      <div class="d-flex justify-content-center align-items-start pt-5">
        <img
          class="modalImg"
          src="{{ produto.fotoProduto }}"
          alt="Queijo"
          data-bs-dismiss="modal"
        />
      </div>
    </div>
  </div>
</div>
