<div class="container-sm w-25">
    <div class="row">
        <form>
            <div class="col-xs-6 mt-5">
                <h2 class="h2Style">Fazer login</h2>
            </div>

            <div class="form-group">
                <label for="emailUsuario"></label>
                <input
                class="form-control inputStyle" 
                type="email" 
                name="emailUsuario" 
                id="emailUsuario" 
                name="emailUsuario"
                placeholder="Email"
                aria-placeholder="Email"
                aria-hidden="true"
                required
                />
            </div>

            <div class="form-group">
                <label for="senhaUsuario"></label>
                <input
                class="form-control inputStyle" 
                type="password" 
                name="emailUsuario" 
                id="senhaUsuario" 
                name="senhaUsuario"
                placeholder="Senha"
                aria-placeholder="Senha"
                aria-hidden="true"
                required
                />
            </div>

            <div class="container mt-5 px-0 d-flex justify-content-between align-items-end mb-5">
                <button class="btn buttonStyle align-items-end" 
                type="submit"> Fazer login  
                </button>

                <a class="linkStyle" [routerLink]="['/signin']">Criar uma conta</a>

            </div>

        </form>
    </div>
</div>