.full-width-table {
  width: 100%;
  height: auto;
}

tableHeader {
  background-color: #ccb1a1;
}

td.descricaoProduto {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  max-width: 20ch;
  padding-right: 0.75rem;
}
