<section id="consultarProdutos">
  <h3 class="h3Style">Ver todos os Produtos</h3>

  <div class="mat-elevation-z8">
    <table
      mat-table
      class="full-width-table my-4"
      matSort
      aria-label="Elements"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let produto">{{ produto.idProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let produto">{{ produto.nomeProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let produto" class="descricaoProduto">
          {{ produto.descricaoProduto }}
        </td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.precoUnitarioProduto }}
        </td>
      </ng-container>

      <ng-container matColumnDef="estoque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estoque</th>
        <td mat-cell *matCellDef="let produto">{{ produto.estoqueProduto }}</td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto["categoria"]["nomeCategoria"] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="disponivel">
        <th mat-header-cell *matHeaderCellDef>Disponivel</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.produtoDisponivel | booleanPipe }}
        </td>
      </ng-container>

      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let produto">
          <a href="{{ produto.fotoProduto }}" target="_blank">Link</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="gerenciar">
        <th mat-header-cell *matHeaderCellDef>Gerenciar</th>
        <td mat-cell *matCellDef="let produto">
          <a routerLink="./atualizar/{{ produto.idProduto }}" class="mx-1">
            <img
              src="../../../assets/icon/edit-icon.svg"
              alt="ícone Atualizar"
            />
          </a>
          <a
            (click)="pegarId(produto.idProduto)"
            class="mx-2"
            data-bs-toggle="modal"
            data-bs-target="#deletarProduto"
          >
            <img
              src="../../../assets/icon/trash-icon.svg"
              alt="ícone Deletar"
            />
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let produto; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <div
    class="modal fade"
    id="deletarProduto"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deletar Produto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja deletar este produto?</p>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn pStyleDark" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button
            (click)="delete()"
            type="submit"
            class="btn buttonStyle deleteButton"
            data-bs-dismiss="modal"
          >
            Deletar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
