/* Reset */
* {
  margin: 0;
  padding: 0;
}

/*** Color Rules ***/
:root {
  --title-font-primary: "Lato";
  --title-font-secondary: "Roboto";
  --text-font-primary: "DM Sans", sans-serif;

  --text-color-dark: #332c2a;
  --text-color-light: #767676;

  --body-bg-color: #f9f9f9;
  --footer-bg-color: #ccb1a1;

  --button-bg-color: #9b6c51;
  --button-bg-color-hover: #794c32;
  --button-txt-color: #f9f9f9;
}

/*** HTML Elements ***/
body {
  background-color: var(--body-bg-color);
  font-family: var(--text-font-primary);
  height: 100vh;
  width: 100vw;
}

main {
  margin-top: 5.6rem;
}

ul {
  list-style: none;
}

footer {
  margin-top: 5.6rem;
}

/*** Custom Styles ***/

.bgColorStyle {
  background-color: var(--body-bg-color);
}

.h2Style {
  font-family: var(--title-font-primary), var(--title-font-secondary);
  font-weight: 700;
  color: var(--text-color-dark);
}

.h3Style {
  font-weight: 500;
  color: var(--text-color-dark);
}

.pStyleLight {
  font-weight: 400;
  color: var(--text-color-light);
}

.pStyleDark {
  font-weight: 400;
  color: var(--text-color-dark);
}

.buttonStyle {
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  font-weight: 400;
  padding: 1rem 2rem;
  min-width: 140px;
}

.buttonStyle:hover {
  background-color: var(--button-bg-color-hover);
  color: var(--button-txt-color);
}

.inputStyle {
  border: 1.5px solid var(--button-bg-color);
  background-color: var(--body-bg-color);
  padding: 1rem 2rem;
}

.inputStyle:focus {
  border-color: var(--button-bg-color);
  background-color: var(--body-bg-color);
  box-shadow: 0px 0px 2px 2px rgba(204, 177, 161, 0.82);
}

/* Cor de fundo e do texto do autocomplete */
.inputStyle:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: var(--text-color-dark) !important;
}
