/* Reset */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*** Color Rules ***/
:root {
  --title-font-primary: "Lato";
  --title-font-secondary: "Roboto";
  --text-font-primary: "DM Sans", sans-serif;

  --text-color-dark: #332c2a;
  --text-color-light: #767676;

  --body-bg-color: #f9f9f9;
  --footer-bg-color: #ccb1a1;

  --button-bg-color: #9b6c51;
  --button-bg-color-hover: #794c32;
  --button-txt-color: #f9f9f9;
}

/*** Custom Styles ***/
body {
  background-color: var(--body-bg-color);
  font-family: var(--text-font-primary);
}

.h2Style {
  font: 700 1.5rem var(--title-font-primary), var(--title-font-secondary);
  color: var(--text-color-dark);
}

.h3Style {
  font: 500 1rem;
  color: var(--text-color-dark);
}

.pStyleLight {
  font: 400 1rem;
  color: var(--text-color-light);
}

.pStyleDark {
  font: 400 1rem;
  color: var(--text-color-dark);
}

.buttonStyle {
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  font-weight: 400;
  padding: 1rem 2rem;
  /*min-width: 140px;
  margin-top: 2rem;*/
}

.buttonStyle:hover {
  background-color: var(--button-bg-color-hover);
  color: var(--button-txt-color);
}

.buttonStyle:focus {
	box-shadow: 0px 0px 10px 10px rgba(204,177,161,0.82);
  }

.inputStyle {
  border: 1.5px solid var(--button-bg-color);
  background-color: var(--body-bg-color);
  padding-left: 2rem;
  padding: 1rem 2rem;
}

.inputStyle:focus {
	border-color: var(--button-bg-color);
	background-color: var(--body-bg-color);
	box-shadow: 0px 0px 10px 3px rgba(204,177,161,0.82);
}
