.link-active {
  position: relative;
  text-decoration: none;
  font-weight: 500;
}

.link-active:before {
  color: var(--text-color-dark);
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color-dark);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link-active:hover {
  color: var(--text-color-dark);
}

.link-active:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown-menu a:active {
  background-color: var(--button-bg-color);
}

.bag-icon {
  position: relative;
}

.bag-icon .cart-counter {
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  bottom: -8px;
  left: 12px;  
  background-color: var(--button-bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-counter span {
  color: var(--button-txt-color);
  font-size: small;
}
