<div class="container px-0">
  <section id="atualizar">
    <h3 class="h3Style">Atualizar</h3>
    <!-- UPDATE -->
    <div class="col-xs-12 col-sm-11 col-lg-9 col-xl-8">
      <form (ngSubmit)="onSubmit()">
        <div class="my-4">
          <div class="form-group formWidth">
            <label for="nomeProduto" class="form-label">Nome</label>
            <input
              [(ngModel)]="produto.nomeProduto"
              type="text"
              class="form-control inputStyle"
              id="nomeProduto"
              name="nomeProduto"
              placeholder="Nome"
              required
            />
          </div>
        </div>

        <div class="my-4">
          <div class="form-group formWidth">
            <label for="descricaoProduto" class="form-label">Descrição</label>
            <textarea
              [(ngModel)]="produto.descricaoProduto"
              style="height: 160px"
              maxlength="255"
              type="text"
              class="form-control inputStyle"
              id="descricaoProduto"
              name="descricaoProduto"
              placeholder="Descrição"
              required
            ></textarea>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group formWidth">
            <label for="precoUnitarioProduto" class="form-label"
              >Preço unitário</label
            >
            <input
              [(ngModel)]="produto.precoUnitarioProduto"
              type="number"
              class="form-control inputStyle smallInput-12"
              id="precoUnitarioProduto"
              name="precoUnitarioProduto"
              placeholder="R$0.00"
              required
            />
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label for="estoqueProduto" class="form-label"
              >Quantidade de estoque</label
            >
            <input
              [(ngModel)]="produto.estoqueProduto"
              type="text"
              class="form-control inputStyle smallInput-12"
              id="estoqueProduto"
              name="estoqueProduto"
              placeholder="0"
              required
            />
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label for="fotoProduto" class="form-label">Link da foto</label>
            <input
              [(ngModel)]="produto.fotoProduto"
              class="form-control inputStyle smallInput-12"
              type="text"
              id="fotoProduto"
              name="fotoProduto"
              placeholder="http://..."
              required
            />
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label for="categoriaProduto" class="form-label">Categoria</label>
            <select
              [ngModel]="produto.categoria"
              (ngModelChange)="updateCategory($event)"
              name="categoriaProduto"
              id="categoriaProduto"
            >
              <option value="0">Selecione</option>
              <option
                *ngFor="let categoria of categorias"
                [ngValue]="categoria"
                [attr.selected]="selected(categoria.idCategoria)"
              >
                {{ categoria.nomeCategoria }}
              </option>
            </select>
          </div>
        </div>

        <div class="my-4">
          <div class="form-group">
            <label class="form-radio-label ps-2" for="produtoDisponivel"
              >Produto disponível?</label
            >
            <br />
            <input
              [(ngModel)]="produto.produtoDisponivel"
              type="radio"
              name="produtoDisponivel"
              id="produtoDisponivel"
              class="form-check-input"
              [value]="true"
            />
            Sim
            <br />
            <input
              [(ngModel)]="produto.produtoDisponivel"
              type="radio"
              name="produtoDisponivel"
              id="produtoDisponivel"
              class="form-check-input"
              [value]="false"
            />
            Não
          </div>
        </div>

        <div class="row d-flex justify-content-between align-items-center pt-2">
          <div class="col-xs-12 col-sm-7 mb-4 mb-sm-0">
            <button class="btn buttonStyle" type="submit">Atualizar</button>
          </div>
          <div class="col-xs-12 col-sm-5 mb-2 mb-sm-0">
            <a class="btn pStyleDark" type="reset" routerLink="../../../">
              Cancelar
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
