<div class="container-md px-0">

  <!-- SLIDER -->
  <div class="container" id="slider-container">
    <div class="carousel slide" id="slider" data-bs-ride="carousel">

        <!-- Indicadores do slider -->
        <div class="carousel-indicators">
            <button type="button" class="active" data-bs-target="#slider" data-bs-slide-to="0" aria-current="true"
                aria-label="Slide 1">
            </button>
            <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2">
            </button>
            <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3">
            </button>
        </div>

        <!-- Imagens do slider -->
        <div class="carousel-inner">

            <div class="carousel-item d-flex justify-content-center align-items-center active">
              <a (click)="selectCategory('Queijos')">
                <img src="../../../assets/img/carousel/slider-queijo.jpg" alt="Casa 1" class="d-block w-100">
                <div class="bg">
                </div>
                <div class="carousel-caption">
                    <h5>Queijos</h5>
                </div>
              </a>
            </div>

            <div class="carousel-item">
              <a (click)="selectCategory('Vinhos')">
                <img src="../../../assets/img/carousel/slider-vinho.jpg" alt="Casa 2" class="d-block w-100">
                <div class="bg">
                </div>
                <div class="carousel-caption">
                    <h5>Vinhos</h5>
                </div>
              </a>
            </div>

            <div class="carousel-item">
              <a (click)="selectCategory('Geléias')">
                <img src="../../../assets/img/carousel/slider-geleia2.jpg" alt="Casa 2" class="d-block w-100">
                <div class="bg">
                </div>
                <div class="carousel-caption">
                    <h5>Geléias</h5>
                </div>
              </a>
            </div>

        </div>

        <!-- Botões do slider -->
        <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
            <i class="bi bi-chevron-compact-left"></i>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
            <i class="bi bi-chevron-compact-right"></i>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>
</div>
  <!-- <h2 class="h2Style">
    Combos
    <img src="../../../assets/icon/arrow-icon.svg" alt="Arrow Icon" />
  </h2> -->
  <!-- <div
    class="d-none d-md-flex flex-column flex-sm-row flex-md-row justify-content-between"
  >
    <app-product-card></app-product-card>
  </div> -->
  <!-- <div
    id="carouselExampleControls"
    class="d-md-none d-flex carousel slide d-flex flex-column flex-sm-row flex-md-row justify-content-between"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-product-card></app-product-card>
        <img src="../../../assets/img/products/queijo/queijo1.jpg" alt="">
      </div>
      <div class="carousel-item">
        <app-product-card></app-product-card>
      </div>
      <div class="carousel-item">
        <app-product-card></app-product-card>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
</div>
