<section id="tabs">
  <ul class="nav justifyContentMobile flex-md-column">
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        aria-current="page"
        [routerLink]="['./dados']"
        fragment="dadosPessoais"
      >
        <span class="link-active py-1 px-2"> Dados Pessoais </span>
      </a>
    </li>
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        aria-current="senha"
        [routerLink]="['./dados']"
        fragment="senha"
      >
        <span class="link-active py-1 px-2">Alterar Senha</span>
      </a>
    </li>
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        aria-current="endereco"
        [routerLink]="['./dados']"
        fragment="endereco"
      >
        <span class="link-active py-1 px-2">Endereço</span>
      </a>
    </li>
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        aria-current="apagar"
        [routerLink]="['./dados']"
        fragment="apagar"
      >
        <span class="link-active py-1 px-2">Apagar Conta</span>
      </a>
    </li>
    <li class="nav-item px-1 py-3 px-md-2 py-md-3">
      <a
        class="nav-link linkContent pStyleDark p-0"
        aria-current="pedidos"
        [routerLink]="['./pedidos']"
      >
        <span class="link-active py-1 px-2">Meus Pedidos</span>
      </a>
    </li>
    <li class="nav-item px-1 py-3 px-md-2 py-md-3" *ngIf="isAdmin()">
      <a
        class="nav-link linkContent pStyleDark p-0"
        aria-current="painelAdmin"
        routerLink="/admin"
      >
        <span class="link-active py-1 px-2">Painel do Administrador</span>
      </a>
    </li>
  </ul>
</section>
